html,
body,
#react-root {
  height: 100%;
}
* {
  font-family: "Lato", sans-serif !important;
  font-weight: 300;
}

body {
  font-family: "Lato", sans-serif !important;
  font-weight: 300;
  overflow-x: hidden;
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  background: black;
  color: #ffffff;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

/* .container {
  padding: 20px;
} */

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

/* .btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
} */

/* .btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
} */

/* This line makes the "Register" and "Login" buttons look like links */
/* .btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
} */

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

/* --------------------------------------------------------------------------------
New Message
-------------------------------------------------------------------------------- */
.ui.grid {
  display: flex !important;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  z-index: 0;
  left: 3.5rem;
  position: absolute;
  top: 7rem;
  left: 12rem;
}
.ui-container{
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.ui.fluid.column {
  display: flex !important;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.title.icon.container {
  padding: 20px;
  height: 100% !important;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  display: flex;

}
.ui.center.aligned.header {
  font-family: 'Raleway', sans-serif !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin-right: 5.35rem;
  padding: 15px;
  border-radius: 5px;
  color: white;
  text-align: left;
  background: rgb(145, 26, 108);
  background: linear-gradient(
    90deg,
    rgba(145, 26, 108, 1) 0%,
    rgba(211, 20, 89, 1) 100%
  );
}

.checklist {
  width: 140px !important;
  height: auto;
  padding-right: 1rem;
  margin-top: -10px;
  margin-bottom: -15px;
  margin-left: 1rem;
}

.ui.card {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: start; 
  flex-wrap: wrap;
  height: 75px;
  padding: 20px;
  border-radius: 1px;
  width: auto;
  border: none !important;
  background-color: #191c25;
  box-shadow: none;
}

.step-text {
  vertical-align: top;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: x-large;
  color: rgb(145, 26, 108);
  color: linear-gradient(
    90deg,
    rgba(145, 26, 108, 1) 0%,
    rgba(211, 20, 89, 1) 100%
  );
}

.ui.card:hover {
  /* padding: 0; */
  /* border: 2px solid #000; */
}
.ui.selection.dropdown {
  /* z-index: +5; */
  padding: 2px;
  width: 200px;
  /* -webkit-transition: all 0.25s ease !important;
  -moz-transition: all 0.25s ease !important;
  -ms-transition: all 0.25s ease !important;
  -o-transition: all 0.25s ease !important;
  transition: all 0.25s ease !important; */
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
  height: 150px;
  padding: 10px;
  background-color: #191c25;
}

.card-cont:hover{
  background-color: #cacbcd;
  background-image: none;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgb(34 36 38 / 15%) inset;
  color: rgba(0,0,0,.8);
}

.column {
  display: flex !important;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  /* margin-right: 5rem; */
}
.three.row.column {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin-right: 5.5rem;
}

.one-column-row {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.select-container {
  position: absolute;
  left: 250px;
  top: 350px;
}

.ui.button{
  padding: 15px;
  margin-right: 4.5rem;
  margin-top: 3rem;
  color: white;
  font-family: 'Raleway', sans-serif !important;
  background-color: rgb(145, 26, 108);
  background-color: linear-gradient(
    90deg,
    rgba(145, 26, 108, 1) 0%,
    rgba(211, 20, 89, 1) 100%
  );
}

/* .three-column-container {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
} */
.vl {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  border-left: 1.5px solid #191c25;
  height: 100px;
  position: absolute;
  left: 34.25%;
  top: 2.5rem;
}
.vl2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  border-left: 1.5px solid #191c25;
  height: 100px;
  position: absolute;
  left: 65.5%;
  top: 2.5rem;
}
