* {
    padding:0;
    margin:0;
  }
  
  *{
    font-family: 'Lato', sans-serif !important;
  font-weight: 300;
  }
  body {
    font-family: 'Lato', sans-serif !important;
  font-weight: 300;
  }

  img.ui.image.check-in-bell {
    position: relative;
    margin-left: 3.5em;
    top: 1em;
    left: 1em;
    
    /* padding-bottom: 0px; */
    width: 125px !important;
    height: auto;
    
  }
  
  .login-form-container {
    height:100vh;
    display: flex;
  }
  /* .login-section:hover {
    flex:1.25 ;
  } */
  .login-section {
    height:100% ;
    display: flex ;
    align-items: center ;
    justify-content: center ; 
    flex:1;
    transition: all .5s ;


  }
  .photo-section {
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
    transition: all .5s;
    /* background:url("/Assets/hotelUnsplashTest.jpeg"); */
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
  }
    .photo-section:hover {
    flex:1.25;
  };

