* {
  padding: 0;
  margin: 0;
}

* {
  font-family: "Lato", sans-serif !important;
  font-weight: 300;
}
body {
  font-family: "Lato", sans-serif !important;
  font-weight: 300;
}
.ui.stacked.segment{
  font-family: 'Raleway', sans-serif !important;
}
/* .bell-container{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

} */
img.ui.image.check-in-bell {
  color: #ea67a5;
  display: flex;
  position: relative;
  margin-left: 3.75em;
  top: 1em;
  left: 1em;
  width: 125px !important;
  height: auto;
}

.log-in-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form-container {
  padding-right: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-left: 8.5rem;
}
/* .login-section:hover {
    flex:1.25 ;
  } */
.login-section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 6.5em;
  padding-left: 10rem; */
  padding: 3rem;
  margin-left: 3rem;
  /* margin-left: 1rem; */
  margin-right: 1rem;
}
  /* flex:1;
    transition: all .5s ; */

.welcome-text{
  font-family: 'Raleway', sans-serif !important;
}


.photo-section {
  height: 100vh;
  display: flex;

  margin-left: auto;
  padding: 0px;
  max-width: 55%;
}

.photo {
  height: 100vh;
  display: flex;
  margin-left: auto;
  object-fit: cover;
}
/* .photo-section:hover {
    flex:1.1;
  }; */
