
.ui.inverted.vertical.menu {
  margin-top: 0rem;
  height: 100vh;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
  width: 12rem;
}
.ui.inverted.menu .menu{
  /* background: @invertedItemBackground; */
  background-color: #191c25;
} 


/*--------------
    Inverted
---------------*/

/* .ui.inverted.menu {
  border: @invertedBorder;
  background: @invertedBackground;
  box-shadow: @invertedBoxShadow;
} */

/* Menu Item */
/* .ui.inverted.menu .item,
.ui.inverted.menu .item > a:not(.ui) {
  background: @invertedItemBackground;
  color: @invertedItemTextColor;
} */
/* .ui.inverted.menu .item.menu {
  background: @invertedSubMenuBackground;
} */

/*--- Border ---*/
/* .ui.inverted.menu .item:before {
  background: @invertedDividerBackground;
}
.ui.vertical.inverted.menu .item:before {
  background: @invertedVerticalDividerBackground;
} */

/* Sub Menu */
/* .ui.vertical.inverted.menu .menu .item,
.ui.vertical.inverted.menu .menu .item a:not(.ui) {
  color: @invertedSubMenuColor;
} */

/* Header */
/* .ui.inverted.menu .header.item {
  margin: 0em;
  background: @invertedHeaderBackground;
  box-shadow: none;
} */

/* Disabled */
/* .ui.inverted.menu .item.disabled,
.ui.inverted.menu .item.disabled:hover {
  color: @invertedDisabledTextColor;
} */

/*--- Hover ---*/
/* .ui.link.inverted.menu .item:hover,
.ui.inverted.menu .dropdown.item:hover,
.ui.inverted.menu .link.item:hover,
.ui.inverted.menu a.item:hover {
  background: @invertedHoverBackground;
  color: @invertedHoverColor;
}
.ui.vertical.inverted.menu .item .menu a.item:hover,
.ui.vertical.inverted.menu .item .menu .link.item:hover {
  background: @invertedSubMenuBackground;
  color: @invertedSubMenuHoverColor;
} */

/*--- Pressed ---*/
/* .ui.inverted.menu a.item:active,
.ui.inverted.menu .link.item:active{
  background: @invertedMenuPressedBackground;
  color: @invertedMenuPressedColor;
} */

/*--- Active ---*/
/* .ui.inverted.menu .active.item {
  background: @invertedActiveBackground;
  color: @invertedActiveColor !important;
}
/*  */
/* .ui.inverted.vertical.menu  {
  border-radius: "0rem" !important;
} */

/* 
.ui.inverted.pointing.menu .active.item:after {
  background: @invertedArrowActiveColor !important;
  margin: 0em !important;
  box-shadow: none !important;
  border: none !important;
} */

/*--- Active Hover ---*/
/* .ui.inverted.menu .active.item:hover {
  background: @invertedActiveHoverBackground;
  color: @invertedActiveHoverColor !important;
}
.ui.inverted.pointing.menu .active.item:hover:after {
  background: @invertedArrowActiveHoverColor !important;
}
.ui.inverted.menu {
  border: @invertedBorder;
  background: @invertedBackground;
  box-shadow: @invertedBoxShadow;
}; */

/* Menu Item */
/* .ui.inverted.menu .item,
.ui.inverted.menu .item > a:not(.ui) {
  background: @invertedItemBackground;
  color: @invertedItemTextColor;
};
.ui.inverted.menu .item.menu {
  background: @invertedSubMenuBackground;
}; */

/*--- Border ---*/
/* .ui.inverted.menu .item:before {
  background: @invertedDividerBackground;
};
.ui.vertical.inverted.menu .item:before {
  background: @invertedVerticalDividerBackground;
}; */

/* Sub Menu */
/* .ui.vertical.inverted.menu .menu .item,
.ui.vertical.inverted.menu .menu .item a:not(.ui) {
  color: @invertedSubMenuColor;
}; */

/* Header */
/* .ui.inverted.menu .header.item {
  margin: 0em;
  background: @invertedHeaderBackground;
  box-shadow: none;
};

.ui.inverted.text.menu,
.ui.inverted.text.menu .item,
.ui.inverted.text.menu .item:hover,
.ui.inverted.text.menu .active.item {
  background-color: transparent !important;
}; */

/*--------------
    Inverted
---------------*/

/* Red */
/* .ui.inverted.menu .red.active.item,
.ui.inverted.red.menu {
  background-color: @red;
}
.ui.inverted.red.menu .item:before {
  background-color: @invertedColoredDividerBackground;
}
.ui.inverted.red.menu .active.item {
  background-color: @invertedColoredActiveBackground !important;
} */

/* Orange */
/* .ui.inverted.menu .orange.active.item,
.ui.inverted.orange.menu {
  background-color: @orange;
}
.ui.inverted.orange.menu .item:before {
  background-color: @invertedColoredDividerBackground;
}
.ui.inverted.orange.menu .active.item {
  background-color: @invertedColoredActiveBackground !important;
} */

/* Yellow */
/* .ui.inverted.menu .yellow.active.item,
.ui.inverted.yellow.menu {
  background-color: @yellow;
}
.ui.inverted.yellow.menu .item:before {
  background-color: @invertedColoredDividerBackground;
}
.ui.inverted.yellow.menu .active.item {
  background-color: @invertedColoredActiveBackground !important;
} */

/* Olive */
/* .ui.inverted.menu .olive.active.item,
.ui.inverted.olive.menu {
  background-color: @olive;
}
.ui.inverted.olive.menu .item:before {
  background-color: @invertedColoredDividerBackground;
}
.ui.inverted.olive.menu .active.item {
  background-color: @invertedColoredActiveBackground !important;
} */

/* Green */
/* .ui.inverted.menu .green.active.item,
.ui.inverted.green.menu {
  background-color: @green;
}
.ui.inverted.green.menu .item:before {
  background-color: @invertedColoredDividerBackground;
}
.ui.inverted.green.menu .active.item {
  background-color: @invertedColoredActiveBackground !important;
} */

/* Teal */
/* .ui.inverted.menu .teal.active.item,
.ui.inverted.teal.menu {
  background-color: @teal;
}
.ui.inverted.teal.menu .item:before {
  background-color: @invertedColoredDividerBackground;
}
.ui.inverted.teal.menu .active.item {
  background-color: @invertedColoredActiveBackground !important;
} */

/* Blue */
/* .ui.inverted.menu .blue.active.item,
.ui.inverted.blue.menu {
  background-color: @blue;
}
.ui.inverted.blue.menu .item:before {
  background-color: @invertedColoredDividerBackground;
}
.ui.inverted.blue.menu .active.item {
  background-color: @invertedColoredActiveBackground !important;
} */

/* Violet */
/* .ui.inverted.menu .violet.active.item,
.ui.inverted.violet.menu {
  background-color: @violet;
}
.ui.inverted.violet.menu .item:before {
  background-color: @invertedColoredDividerBackground;
}
.ui.inverted.violet.menu .active.item {
  background-color: @invertedColoredActiveBackground !important;
} */

/* Purple */
/* .ui.inverted.menu .purple.active.item,
.ui.inverted.purple.menu {
  background-color: @purple;
}
.ui.inverted.purple.menu .item:before {
  background-color: @invertedColoredDividerBackground;
}
.ui.inverted.purple.menu .active.item {
  background-color: @invertedColoredActiveBackground !important;
} */

/* Pink */
/* .ui.inverted.menu .pink.active.item,
.ui.inverted.pink.menu {
  background-color: @pink;
}
.ui.inverted.pink.menu .item:before {
  background-color: @invertedColoredDividerBackground;
}
.ui.inverted.pink.menu .active.item {
  background-color: @invertedColoredActiveBackground !important;
} */

/* Brown */
/* .ui.inverted.menu .brown.active.item,
.ui.inverted.brown.menu {
  background-color: @brown;
}
.ui.inverted.brown.menu .item:before {
  background-color: @invertedColoredDividerBackground;
}
.ui.inverted.brown.menu .active.item {
  background-color: @invertedColoredActiveBackground !important;
} */

/* Grey */
/* .ui.inverted.menu .grey.active.item,
.ui.inverted.grey.menu {
  background-color: @grey;
}
.ui.inverted.grey.menu .item:before {
  background-color: @invertedColoredDividerBackground;
}
.ui.inverted.grey.menu .active.item {
  background-color: @invertedColoredActiveBackground !important;
} */

/* .nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
} */

/* .nav-title-personal {
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  color: #f2f2f2;
  padding-left: 10px;
} */

/* .nav {
  margin: 0 0 30px;
  background-color: #00acb0;
  overflow: hidden;
} */

/* .nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #00acb0;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px; */

/* these last two make the logout button in
  the nav bar look like another link */
/* border:none;
  cursor: pointer;
  outline:0;
} */

/* .nav-link:hover {
  background-color: #008183;
}

.nav-right {
  float: right;
} */
